extends ./layout/index
block contenido
    h1(class="mb-3") Ingrese un producto
    form(action="/productos", method="POST")
        div(class="mb-3")
            label(for="title" class="form-label") Nombre
            input(type="text", name="title", id="title", class="form-control" aria-describedby="titleHelp")
            div(id="titleHelp" class="form-text") Ingrese nombre del producto
        
        div(class="mb-3")
            label(for="price" class="form-label") Precio
            input(type="number", name="price", id="price", class="form-control" aria-describedby="priceHelp")
            div(id="priceHelp" class="form-text") Ingrese precio del producto

        div(class="mb-3")
            label(for="thumbnail" class="form-label") Foto URL
            input(type="text", name="thumbnail", id="thumbnail", class="form-control" aria-describedby="thumbnailHelp")
            div(id="thumbnailHelp" class="form-text") URL de la imagen del producto

        div(class="d-flex justify-content-between")
            a(href="/productos" class="btn btn-danger") Mostrar Listado
            input(type="submit" class="btn btn-success" value="Agregar Producto")